<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="stylesheets/login.css">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="login-form">
      <form action="/add" method="POST">
      <div class="form-item">
        <input type="text" name="name" placeholder="商品名称">
        <input type="text" name="in_price" placeholder="进价">
        <input type="text" name="price" placeholder="售价">
        <input type="text" name="i_number" placeholder="进货量">
        <input type="text" name="s_number" placeholder="售出量">
        <input type="text" name="income" placeholder="销售额">
      </div>
      <div class="btn"><button type="submit" style="color: white;border-style: none;background: none;" >新增</button></div>
      </form>
      <div class="btn-back"></div>
      <div class="other">
      </div>
    </div>
  </div>

</body>
</html>
