<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>main</title>

<link rel="stylesheet" href="stylesheets/style3.css">
<link rel="stylesheet" href="stylesheets/appcss.css">

</head>
<body>

	<div class="wrapper flex_box">
		<button type="button" onclick="location.href='/add'" >新增</button>
    商品管理表格
	<table id="table1" cellspacing="0px" >
			<tr class="tableTitle">
				<td class="col1">商品名称</td>
				<td class="col7">进价</td>
				<td class="col3">售价</td>
				<td class="col6">进货量</td>
				<td class="col2">售出量</td>
				<td class="col4">收入</td>
				<td class="col5">操作</td>
			</tr>
			<%for (o of data){%>
			<tr id="xin">
				<td class="col1"><%=o.name%></td>
				<td class="col7"><%=o.in_price%></td>
				<td class="col3"><%=o.price%></td>
				<td class="col6"><%=o.i_number%></td>
				<td class="col2"><%=o.s_number%></td>
				<td class="col4"><%=o.income%></td>
				<td class="col5" id="wu">
					<input type="button" value="编辑" id="btn1" onclick="location.href='/update?id=<%=o.id%>'">
					<input type="button" value="删除" id="btn2" onclick="location.href='/del?id=<%=o.id%>'">
				</td>
			</tr>
			<%}%>
		</table>
	
	</div>
	
	<div class="cover"></div>
	
	<script src="javascripts/script.js"></script>
	
	</body>
	</html>