<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>main</title>

<link rel="stylesheet" href="stylesheets/style3.css">

</head>
<body>

	<div class="wrapper flex_box">
		<table>
			<div class="input">
					
				<textarea placeholder="商品名称" class="comment"></textarea>
				<textarea placeholder="进价" class="comment"></textarea>
				<textarea placeholder="售价" class="comment"></textarea>
				<textarea placeholder="进货总额" class="comment"></textarea>
				<textarea placeholder="售出总额" class="comment"></textarea>
				<textarea placeholder="财政收入" class="comment"></textarea>
			</div>
			
		
			<div class="button_wrapper">
				<button>新增</button>
			
			</div>
		</table>
	
	</div>
	
	<div class="cover"></div>
	
	<script src="javascripts/script.js"></script>
	
	</body>
	</html>