<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>main</title>

<link rel="stylesheet" href="stylesheets/style3.css">
<link rel="stylesheet" href="stylesheets/appcss.css">
<link rel="stylesheet" href="stylesheets/style5.css">

</head>
<body>
	<form action="/select" method="POST" style="width: 1439px;color: white;">
	    <div id="all">
			商品名称:<input class="seach" type="text" name="name" >
			售价:<input class="seach" name="price" >
			收入:<input class="seach" name="income" >
			<input type="submit" value="查询" id="found">
		</div>
     </form>
	</div>
	<div class="wrapper flex_box" >
		<button type="button" onclick="location.href='/add'" >新增</button>
    商品管理表格
	<table id="table1" cellspacing="0px" >
			<tr class="tableTitle">
				<td class="col1">商品名称</td>
				<td class="col7">进价</td>
				<td class="col3">售价</td>
				<td class="col6">进货量</td>
				<td class="col2">售出量</td>
				<td class="col4">收入</td>
				<td class="col5">操作</td>
			</tr>
			<%for (o of data){%>
			<tr id="xin">
				<td class="col1"><%=o.name%></td>
				<td class="col7"><%=o.in_price%></td>
				<td class="col3"><%=o.price%></td>
				<td class="col6"><%=o.i_number%></td>
				<td class="col2"><%=o.s_number%></td>
				<td class="col4"><%=o.income%></td>
				<td class="col5" id="wu">
					<input type="button" value="编辑" id="btn1" onclick="location.href='/update?id=<%=o.id%>'">
					<input type="button" value="删除" id="btn2" onclick="location.href='/del?id=<%=o.id%>'">
				</td>
			</tr>
			<%}%>
		</table>
		
		<div class="btn_box">
			<a href="/main" style="color: rgba(0, 0, 0, 0.4);">返回</a>
		  </div>
	
	</div>
	
	<div class="cover"></div>
	
	<script src="javascripts/script.js"></script>
	<script src="/javascripts/jquery-3.4.1.min.js"></script>
	</body>
	</html>