<!DOCTYPE html>
<html lang="en" >
<head>
<meta charset="UTF-8">
<title>table实用的图文表格布局样式 - 站长素材</title>

<link rel="stylesheet" href="stylesheets/style5.css">

</head>
<body>

<div class="subbox">
	<table>
	  <thead>
		<tr>
		  <th>头像</th>
		  <th>名字</th>
		  <th>邮箱</th>
		  <th>行业</th>
		  <th>日期</th>
		  <th>简介</th>
		</tr>
	  </thead>
	  <tbody>
		<tr>
		  <td>
			<img src="img/14.jpg" />
		  </td>
		  <td>
			<span class="name">小米</span>
		  </td>
		  <td>
			<span class="email">rorarolls@example.com</span>
		  </td>
		  <td>
			<span class="option is-blue">教育</span>
		  </td>
		  <td>
			<span class="date">2021/12/12</span>
		  </td>
		  <td>
			<span class="comment">教育事业</span>
		  </td>
		</tr>
		<tr>
		  <td>
			<img src="img/4.jpg" />
		  </td>
		  <td>
			<span class="name">小飞</span>
		  </td>
		  <td>
			<span class="email">yollanthe@example.com</span>
		  </td>
		  <td>
			<span class="option is-orange">IT信息</span>
		  </td>
		  <td>
			<span class="date">2021/12/12</span>
		  </td>
		  <td>
			<span class="comment">IT信息技术</span>
		  </td>
		</tr>
		<tr>
		  <td>
			<img src="img/42.jpg" />
		  </td>
		  <td>
			<span class="name">小明</span>
		  </td>
		  <td>
			<span class="email">carly@example.com</span>
		  </td>
		  <td>
			<span class="option is-purple">美食</span>
		  </td>
		  <td>
			<span class="date">2021/12/12</span>
		  </td>
		  <td>
			<span class="comment">美食餐饮</span>
		  </td>
		</tr>
		<tr>
		  <td>
			<img src="img/33.jpg" />
		  </td>
		  <td>
			<span class="name">林妹妹</span>
		  </td>
		  <td>
			<span class="email">willow@example.com</span>
		  </td>
		  <td>
			<span class="option is-green">化妆</span>
		  </td>
		  <td>
			<span class="date">2021/12/12</span>
		  </td>
		  <td>
			<span class="comment">婚纱摄影</span>
		  </td>
		</tr>
	  </tbody>
	</table>
</div>
  
</body>
</html>

